Start your notebook here:

In [16]:
import pandas as pd
import numpy as np
import ast
import matplotlib.pyplot as plt
import seaborn as sns

from datetime import datetime
from dateutil.parser import parse

In [17]:
filepath = "../netflix.csv"
data = pd.read_csv(filepath, index_col=0)

In [18]:
data.head()

,Category,Title,Director,Cast,Country,Release_Date,Rating,Duration,Type,Description
Show_Id,,,,,,,,,,
s1,TV Show,3%,NaN,"João Miguel, Bianca Comparato, Michel Gomes, R...",Brazil,"August 14, 2020",TV-MA,4 Seasons,"International TV Shows, TV Dramas, TV Sci-Fi &...",In a future where the elite inhabit an island ...
s2,Movie,07:19,Jorge Michel Grau,"Demián Bichir, Héctor Bonilla, Oscar Serrano, ...",Mexico,"December 23, 2016",TV-MA,93 min,"Dramas, International Movies",After a devastating earthquake hits Mexico Cit...
s3,Movie,23:59,Gilbert Chan,"Tedd Chan, Stella Chung, Henley Hii, Lawrence ...",Singapore,"December 20, 2018",R,78 min,"Horror Movies, International Movies","When an army recruit is found dead, his fellow..."
s4,Movie,9,Shane Acker,"Elijah Wood, John C. Reilly, Jennifer Connelly...",United States,"November 16, 2017",PG-13,80 min,"Action & Adventure, Independent Movies, Sci-Fi...","In a postapocalyptic world, rag-doll robots hi..."
s5,Movie,21,Robert Luketic,"Jim Sturgess, Kevin Spacey, Kate Bosworth, Aar...",United States,"January 1, 2020",PG-13,123 min,Dramas,A brilliant group of students become card-coun...

In [19]:
data.shape
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7789 entries, s1 to s7787
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Category      7789 non-null   object
 1   Title         7789 non-null   object
 2   Director      5401 non-null   object
 3   Cast          7071 non-null   object
 4   Country       7282 non-null   object
 5   Release_Date  7779 non-null   object
 6   Rating        7782 non-null   object
 7   Duration      7789 non-null   object
 8   Type          7789 non-null   object
 9   Description   7789 non-null   object
dtypes: object(10)
memory usage: 669.4+ KB

In [27]:
total_null = data.isnull().sum().sort_values(ascending = False)
percent = ((data.isnull().sum()/data.isnull().count())*100).sort_values(ascending = False)
print("Total records = ", data.shape[0])

missing_data = pd.concat([total_null, percent.round(2)], axis=1, keys=["Total Missing", "In Percent"])
missing_data

Total records =  7787

              Total Missing  In Percent
Category                  0         0.0
Title                     0         0.0
Director                  0         0.0
Cast                      0         0.0
Country                   0         0.0
Release_Date              0         0.0
Rating                    0         0.0
Duration                  0         0.0
Type                      0         0.0
Description               0         0.0

In [31]:
data["Rating"] = data["Rating"].replace(np.nan, "Unknown Rating")
data["Director"] = data["Director"].replace(np.nan, "Unknown Director")
data["Cast"] = data["Cast"].replace(np.nan, "[Unknown Cast]")
data["Country"] = data["Country"].replace(np.nan, "Unknown Country")

In [32]:
total_null = data.isnull().sum().sort_values(ascending = False)
percent = ((data.isnull().sum()/data.isnull().count())*100).sort_values(ascending = False)
print("Total records = ", data.shape[0])

missing_data = pd.concat([total_null,percent.round(2)],axis=1,keys=['Total Missing','In Percent'])
missing_data

Total records =  7787

              Total Missing  In Percent
Category                  0         0.0
Title                     0         0.0
Director                  0         0.0
Cast                      0         0.0
Country                   0         0.0
Release_Date              0         0.0
Rating                    0         0.0
Duration                  0         0.0
Type                      0         0.0
Description               0         0.0

In [23]:
duplicates = data[data.duplicated()]
duplicates.head()

,Category,Title,Director,Cast,Country,Release_Date,Rating,Duration,Type,Description
Show_Id,,,,,,,,,,
s684,Movie,Backfire,Dave Patten,"Black Deniro, Byron ""Squally"" Vinson, Dominic ...",United States,"April 5, 2019",TV-MA,97 min,"Dramas, Independent Movies, Thrillers",When two would-be robbers accidentally kill a ...
s6621,Movie,The Lost Okoroshi,Abba T. Makama,"Seun Ajayi, Judith Audu, Tope Tedela, Ifu Enna...",Nigeria,"September 4, 2020",TV-MA,94 min,"Comedies, Dramas, Independent Movies",A disillusioned security guard transforms into...

In [24]:
data = data.drop_duplicates()
data.shape

(7787, 10)

In [36]:
dt = datetime.now()

dt_str = dt.strftime("%b %d, %Y")

data["Release_Date"] = data["Release_Date"].replace(np.nan, dt_str )

data["Release_Date"] = pd.to_datetime(data["Release_Date"])


data["Day"] = data["Release_Date"].dt.day
data["Month"] = data["Release_Date"].dt.strftime("%b")
data["Year"] = data["Release_Date"].dt.year


data["Week day"] = data["Release_Date"].dt.day_name()

In [37]:
data.head()

,Category,Title,Director,Cast,Country,Release_Date,Rating,Duration,Type,Description,Day,Month,Year,Week day
Show_Id,,,,,,,,,,,,,,
s1,TV Show,3%,Unknown Director,"João Miguel, Bianca Comparato, Michel Gomes, R...",Brazil,2024-04-30,TV-MA,4 Seasons,"International TV Shows, TV Dramas, TV Sci-Fi &...",In a future where the elite inhabit an island ...,30,Apr,2024,Tuesday
s2,Movie,07:19,Jorge Michel Grau,"Demián Bichir, Héctor Bonilla, Oscar Serrano, ...",Mexico,2024-04-30,TV-MA,93 min,"Dramas, International Movies",After a devastating earthquake hits Mexico Cit...,30,Apr,2024,Tuesday
s3,Movie,23:59,Gilbert Chan,"Tedd Chan, Stella Chung, Henley Hii, Lawrence ...",Singapore,2024-04-30,R,78 min,"Horror Movies, International Movies","When an army recruit is found dead, his fellow...",30,Apr,2024,Tuesday
s4,Movie,9,Shane Acker,"Elijah Wood, John C. Reilly, Jennifer Connelly...",United States,2024-04-30,PG-13,80 min,"Action & Adventure, Independent Movies, Sci-Fi...","In a postapocalyptic world, rag-doll robots hi...",30,Apr,2024,Tuesday
s5,Movie,21,Robert Luketic,"Jim Sturgess, Kevin Spacey, Kate Bosworth, Aar...",United States,2024-04-30,PG-13,123 min,Dramas,A brilliant group of students become card-coun...,30,Apr,2024,Tuesday